<ul class="city-list">
    <li>
        <a href="" class="btn btn-default btn-round">Київ</a>
        <ul>
            <li><b>Шевченківський:</b>
                <a href="" class="btn btn-default btn-round">Хрещатик</a>
                <a href="" class="btn btn-default btn-round">Дорогожичі</a>
                <a href="" class="btn btn-default btn-round">Шулявка</a>
                <a href="" class="btn btn-default btn-round">Лук'янівка</a>
            </li>
            <li><b>Солом'янський:</b>
                <a href="" class="btn btn-default btn-round">Відрадний</a>
                <a href="" class="btn btn-default btn-round">Чоколівка</a>
                <a href="" class="btn btn-default btn-round">Солом'янка</a>
            </li>
            <li><b>Святошинський:</b>
                <a href="" class="btn btn-default btn-round">Берестейка</a>
                <a href="" class="btn btn-default btn-round">Святошин</a>
                <a href="" class="btn btn-default btn-round">Борщагівка</a>
                <a href="" class="btn btn-default btn-round">Академмістечко</a>
            </li>
            <li><b>Печерський:</b>
                <a href="" class="btn btn-default btn-round">метро Кловська</a>
                <a href="" class="btn btn-default btn-round">метро Арсенальна</a>
                <a href="" class="btn btn-default btn-round">метро Дружби Народів</a>
                <a href="" class="btn btn-default btn-round">метро Печерська</a>
                <a href="" class="btn btn-default btn-round">метро Видубичі</a>
            </li>
            <li><b>Оболонський:</b>
                <a href="" class="btn btn-default btn-round">Мінський масив</a>
                <a href="" class="btn btn-default btn-round">Оболонь</a>
                <a href="" class="btn btn-default btn-round">Петрівка [Почайна]</a>
            </li>
            <li><b>Дніпровський:</b>
                <a href="" class="btn btn-default btn-round">Березняки</a>
                <a href="" class="btn btn-default btn-round">Русанівка</a>
                <a href="" class="btn btn-default btn-round">Воскресенка</a>
                <a href="" class="btn btn-default btn-round">метро Лівобережна</a>
                <a href="" class="btn btn-default btn-round">метро Чернігівська</a>
                <a href="" class="btn btn-default btn-round">Райдужний масив</a>
            </li>
            <li><b>Деснянський:</b>
                <a href="" class="btn btn-default btn-round">Биківня</a>
                <a href="" class="btn btn-default btn-round">Лісовий масив</a>
                <a href="" class="btn btn-default btn-round">Троєщина</a>
            </li>
            <li><b>Дарницький:</b>
                <a href="" class="btn btn-default btn-round">метро Харківська</a>
                <a href="" class="btn btn-default btn-round">метро Позняки</a>
                <a href="" class="btn btn-default btn-round">метро Дарниця</a>
                <a href="" class="btn btn-default btn-round">метро Осокорки</a>
            </li>
            <li><b>Голосіївський:</b>
                <a href="" class="btn btn-default btn-round">Деміївка</a>
                <a href="" class="btn btn-default btn-round">Теремки</a>
            </li>
        </ul>
        <li><a href="" class="btn btn-default btn-round">Подільський Виноградар</a></li>
        <li><a href="" class="btn btn-default btn-round">Контрактова площа</a></li>
        <li><a href="" class="btn btn-default btn-round">Поділ</a></li>
        <li><a href="" class="btn btn-default btn-round">Куренівка</a></li>
        <ul>
            <li><b>Київська обл</b>
                <ul>
                    <li><a href="" class="btn btn-default btn-round">Фастів</a></li>
                    <li><a href="" class="btn btn-default btn-round">Вишгород</a></li>
                    <li><a href="" class="btn btn-default btn-round">Рокитне</a></li>
                    <li><a href="" class="btn btn-default btn-round">Богуслав</a></li>
                    <li><a href="" class="btn btn-default btn-round">Переяслав-Хмельницький</a></li>
                    <li><a href="" class="btn btn-default btn-round">Узин</a></li>
                    <li><a href="" class="btn btn-default btn-round">Володарка</a></li>
                    <li><a href="" class="btn btn-default btn-round">Обухів</a></li>
                    <li><a href="" class="btn btn-default btn-round">Гостомель</a></li>
                    <li><a href="" class="btn btn-default btn-round">Згурівка</a></li>
                    <li><a href="" class="btn btn-default btn-round">Ставище</a></li>
                    <li><a href="" class="btn btn-default btn-round">Іванків</a></li>
                    <li><a href="" class="btn btn-default btn-round">Бровари</a></li>
                    <li><a href="" class="btn btn-default btn-round">Українка</a></li>
                    <li><a href="" class="btn btn-default btn-round">Васильків</a></li>
                    <li><a href="" class="btn btn-default btn-round">Ірпінь</a></li>
                    <li><a href="" class="btn btn-default btn-round">Біла Церква</a></li>
                    <li><a href="" class="btn btn-default btn-round">Березань</a></li>
                    <li><a href="" class="btn btn-default btn-round">Яготин</a></li>
                    <li><a href="" class="btn btn-default btn-round">Боярка</a></li>
                    <li><a href="" class="btn btn-default btn-round">Коцюбинське</a></li>
                    <li><a href="" class="btn btn-default btn-round">Буча</a></li>
                    <li><a href="" class="btn btn-default btn-round">Макаров</a></li>
                    <li><a href="" class="btn btn-default btn-round">Бородянка</a></li>
                    <li><a href="" class="btn btn-default btn-round">Миронівка</a></li>
                    <li><a href="" class="btn btn-default btn-round">Баришівка</a></li>
                    <li><a href="" class="btn btn-default btn-round">Сквира</a></li>
                    <li><a href="" class="btn btn-default btn-round">Тараща</a></li>
                    <li><a href="" class="btn btn-default btn-round">Кагарлик</a></li>
                    <li><a href="" class="btn btn-default btn-round">Бориспіль</a></li>
                    <li><a href="" class="btn btn-default btn-round">Тетіїв</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li><b>Закарпатська обл</b>
        <ul>
            <li><a href="" class="btn btn-default btn-round">Ужгород</a></li>
        </ul>
    </li>
    <li><b>Черкаська обл</b>
        <ul>
            <li><a href="" class="btn btn-default btn-round">Черкаси</a></li>
            <li><a href="" class="btn btn-default btn-round">Городище</a></li>
            <li><a href="" class="btn btn-default btn-round">Корсунь~Шевченківський</a></li>
            <li><a href="" class="btn btn-default btn-round">Чигирин</a></li>
            <li><a href="" class="btn btn-default btn-round">Ватутіне</a></li>
            <li><a href="" class="btn btn-default btn-round">Христинівка</a></li>
            <li><a href="" class="btn btn-default btn-round">Кам'янка</a></li>
            <li><a href="" class="btn btn-default btn-round">Монастирище</a></li>
            <li><a href="" class="btn btn-default btn-round">Сміла</a></li>
            <li><a href="" class="btn btn-default btn-round">Золотоноша</a></li>
            <li><a href="" class="btn btn-default btn-round">Лисянка</a></li>
            <li><a href="" class="btn btn-default btn-round">Умань</a></li>
            <li><a href="" class="btn btn-default btn-round">Тальнівка</a></li>
            <li><a href="" class="btn btn-default btn-round">Звенигородка</a></li>
            <li><a href="" class="btn btn-default btn-round">Чорнобаївка</a></li>
            <li><a href="" class="btn btn-default btn-round">Жашків</a></li>
            <li><a href="" class="btn btn-default btn-round">Канів</a></li>
            <li><a href="" class="btn btn-default btn-round">Катеринопіль</a></li>
            <li><a href="" class="btn btn-default btn-round">Шпола</a></li>
            <li><a href="" class="btn btn-default btn-round">Маньківка</a></li>
        </ul>
    </li>
    <li><b>Запорізька обл</b>
        <ul>
            <li><a href="" class="btn btn-default btn-round">Мелітополь</a></li>
            <li><a href="" class="btn btn-default btn-round">Запоріжжя</a></li>
            <li><a href="" class="btn btn-default btn-round">Енергодар</a></li>
        </ul>
    </li>
    <li><b>Хмельницька обл</b>
        <ul>
            <li><a href="" class="btn btn-default btn-round">Шепетівка</a></li>
            <li><a href="" class="btn btn-default btn-round">Хмельницький</a></li>
            <li><a href="" class="btn btn-default btn-round">Кам'янець-Подільський</a></li>
        </ul>
    </li>
    <li><b>Одеська обл</b>
        <ul>
            <li><a href="" class="btn btn-default btn-round">Біляївка</a></li>
            <li><a href="" class="btn btn-default btn-round">Білгород-Дністровський</a></li>
            <li><a href="" class="btn btn-default btn-round">Одеса</a></li>
            <li><a href="" class="btn btn-default btn-round">Чорноморськ</a></li>
        </ul>
    </li>
    <li><b>Кіровоградська обл</b>
        <ul>
            <li><a href="" class="btn btn-default btn-round">Олександрія</a></li>
            <li><a href="" class="btn btn-default btn-round">Кропивницький [Кіровоград]</a></li>
            <li><a href="" class="btn btn-default btn-round">Бобринець</a></li>
        </ul>
    </li>
    <li><b>Волинська обл</b>
        <ul>
            <li><a href="" class="btn btn-default btn-round">Ківерці</a></li>
            <li><a href="" class="btn btn-default btn-round">Стара Вижівка</a></li>
            <li><a href="" class="btn btn-default btn-round">Ковель</a></li>
            <li><a href="" class="btn btn-default btn-round">Рожище</a></li>
            <li><a href="" class="btn btn-default btn-round">Камінь~Каширський</a></li>
            <li><a href="" class="btn btn-default btn-round">Турійськ</a></li>
            <li><a href="" class="btn btn-default btn-round">Локачі</a></li>
            <li><a href="" class="btn btn-default btn-round">Горохів</a></li>
            <li><a href="" class="btn btn-default btn-round">Любешів</a></li>
            <li><a href="" class="btn btn-default btn-round">Володимир-Волинський</a></li>
            <li><a href="" class="btn btn-default btn-round">Шацьк</a></li>
            <li><a href="" class="btn btn-default btn-round">Маневичі</a></li>
            <li><a href="" class="btn btn-default btn-round">Луцьк</a></li>
            <li><a href="" class="btn btn-default btn-round">Іваничі</a></li>
            <li><a href="" class="btn btn-default btn-round">Ратне</a></li>
            <li><a href="" class="btn btn-default btn-round">Любомль</a></li>
        </ul>
    </li>
    <li><b>Донецька обл</b>
        <ul>
            <li><a href="" class="btn btn-default btn-round">Горлівська</a></li>
            <li><a href="" class="btn btn-default btn-round">Маріуполь</a></li>
            <li><a href="" class="btn btn-default btn-round">Покровськ</a></li>
            <li><a href="" class="btn btn-default btn-round">Краматорськ</a></li>
        </ul>
    </li>
    <li><b>Херсонська обл</b>
        <ul>
            <li><a href="" class="btn btn-default btn-round">Чаплинка</a></li>
            <li><a href="" class="btn btn-default btn-round">Нова Маячка</a></li>
            <li><a href="" class="btn btn-default btn-round">Брилівка</a></li>
            <li><a href="" class="btn btn-default btn-round">Херсон</a></li>
            <li><a href="" class="btn btn-default btn-round">Новотроїцьке</a></li>
        </ul>
    </li>
    <li><b>Івано-Франківська обл</b>
        <ul>
            <li><a href="" class="btn btn-default btn-round">Надвірна</a></li>
            <li><a href="" class="btn btn-default btn-round">Бурштин</a></li>
            <li><a href="" class="btn btn-default btn-round">Івано-Франківськ</a></li>
            <li><a href="" class="btn btn-default btn-round">Коломия</a></li>
        </ul>
    </li>
    <li><b>Львівська обл</b>
        <ul>
            <li><a href="" class="btn btn-default btn-round">Дрогобич</a></li>
            <li><a href="" class="btn btn-default btn-round">Львів</a></li>
            <li><a href="" class="btn btn-default btn-round">Стрий</a></li>
        </ul>
    </li>
    <li><b>Житомирська обл</b>
        <ul>
            <li><a href="" class="btn btn-default btn-round">Малин</a></li>
            <li><a href="" class="btn btn-default btn-round">Олевськ</a></li>
            <li><a href="" class="btn btn-default btn-round">Любар</a></li>
            <li><a href="" class="btn btn-default btn-round">Житомир</a></li>
            <li><a href="" class="btn btn-default btn-round">Черняхів</a></li>
            <li><a href="" class="btn btn-default btn-round">Попільня</a></li>
            <li><a href="" class="btn btn-default btn-round">Коростень</a></li>
            <li><a href="" class="btn btn-default btn-round">Андрушівка</a></li>
            <li><a href="" class="btn btn-default btn-round">Ружин</a></li>
            <li><a href="" class="btn btn-default btn-round">Бердичів</a></li>
            <li><a href="" class="btn btn-default btn-round">Романів</a></li>
            <li><a href="" class="btn btn-default btn-round">Брусилів</a></li>
            <li><a href="" class="btn btn-default btn-round">Ємільчине</a></li>
            <li><a href="" class="btn btn-default btn-round">Овруч</a></li>
            <li><a href="" class="btn btn-default btn-round">Лугини</a></li>
            <li><a href="" class="btn btn-default btn-round">Баранівка</a></li>
            <li><a href="" class="btn btn-default btn-round">Пулины</a></li>
            <li><a href="" class="btn btn-default btn-round">Коростишів</a></li>
            <li><a href="" class="btn btn-default btn-round">Чудновск</a></li>
            <li><a href="" class="btn btn-default btn-round">Народичі</a></li>
            <li><a href="" class="btn btn-default btn-round">Хорошев</a></li>
            <li><a href="" class="btn btn-default btn-round">Новгород~Волинський</a></li>
            <li><a href="" class="btn btn-default btn-round">Радомишль</a></li>
        </ul>
    </li>
    <li><b>Дніпропетровська обл</b>
        <ul>
            <li><a href="" class="btn btn-default btn-round">Нікополь</a></li>
            <li><a href="" class="btn btn-default btn-round">Кривий Ріг</a></li>
            <li><a href="" class="btn btn-default btn-round">Синельникове</a></li>
            <li><a href="" class="btn btn-default btn-round">Дніпро</a></li>
            <li><a href="" class="btn btn-default btn-round">Павлоград</a></li>
        </ul>
    </li>
    <li><b>Тернопільська обл</b>
        <ul>
            <li><a href="" class="btn btn-default btn-round">Теребовля</a></li>
            <li><a href="" class="btn btn-default btn-round">Борщів</a></li>
            <li><a href="" class="btn btn-default btn-round">Тернопіль</a></li>
            <li><a href="" class="btn btn-default btn-round">Кременець</a></li>
        </ul>
    </li>
    <li><b>Луганська обл</b>
        <ul>
            <li><a href="" class="btn btn-default btn-round">Луганськ</a></li>
            <li><a href="" class="btn btn-default btn-round">Сєвєродонецьк</a></li>
            <li><a href="" class="btn btn-default btn-round">Алчевськ</a></li>
        </ul>
    </li>
    <li><b>Вінницька обл</b>
        <ul>
            <li><a href="" class="btn btn-default btn-round">Чечельник</a></li>
            <li><a href="" class="btn btn-default btn-round">Теплик</a></li>
            <li><a href="" class="btn btn-default btn-round">Хмільник</a></li>
            <li><a href="" class="btn btn-default btn-round">Бар</a></li>
            <li><a href="" class="btn btn-default btn-round">Могилів~Подільський</a></li>
            <li><a href="" class="btn btn-default btn-round">Бершадь</a></li>
            <li><a href="" class="btn btn-default btn-round">Томашпіль</a></li>
            <li><a href="" class="btn btn-default btn-round">Гайсин</a></li>
            <li><a href="" class="btn btn-default btn-round">Липовець</a></li>
            <li><a href="" class="btn btn-default btn-round">Іллінці</a></li>
            <li><a href="" class="btn btn-default btn-round">Літин</a></li>
            <li><a href="" class="btn btn-default btn-round">Тростянець</a></li>
            <li><a href="" class="btn btn-default btn-round">Калинівка</a></li>
            <li><a href="" class="btn btn-default btn-round">Тульчин</a></li>
            <li><a href="" class="btn btn-default btn-round">Козятин</a></li>
            <li><a href="" class="btn btn-default btn-round">Погребище</a></li>
            <li><a href="" class="btn btn-default btn-round">Муровані</a></li>
            <li><a href="" class="btn btn-default btn-round">Курилівці</a></li>
            <li><a href="" class="btn btn-default btn-round">Жмеринка</a></li>
            <li><a href="" class="btn btn-default btn-round">Крижопіль</a></li>
            <li><a href="" class="btn btn-default btn-round">Піщанка</a></li>
            <li><a href="" class="btn btn-default btn-round">Тиврів</a></li>
            <li><a href="" class="btn btn-default btn-round">Черневцы</a></li>
            <li><a href="" class="btn btn-default btn-round">Вінниця</a></li>
            <li><a href="" class="btn btn-default btn-round">Оратів</a></li>
            <li><a href="" class="btn btn-default btn-round">Шаргород</a></li>
            <li><a href="" class="btn btn-default btn-round">Япмоль</a></li>
            <li><a href="" class="btn btn-default btn-round">Немирів</a></li>
        </ul>
    </li>
    <li>
        <ul>
            <li><a href="" class="btn btn-default btn-round">Рівне</a></li>
        </ul>
    </li>
</ul>
